{#加载静态文件#}
{% load static %}

{#公共页面 抽取出每个页面公共有的东西#}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {#占位符 其他页面进行填充#}
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block header_extends %}{% endblock %}
</head>


<body>
<div class="nav">
  <a class="logo" href="{% url 'home' %}">
    <h3>个人博客网站</h3>
  </a>
  <a href="{% url 'home' %}">首页</a>
  <a href="{% url 'blog_list' %}">博客</a>
</div>

{#占位符 其他页面进行填充#}
{% block content %}{% endblock %}

{#占位符 css样式#}
</body>
</html>