{#继承基础页面#}
{% extends 'base.html' %}

{#引入静态文件#}
{% load static %}
{% block header_extends %}
  <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{#页面标题#}
{% block title %}
  我的网站
{% endblock %}

{#导航栏高亮显示#}
{% block nav_blog_active %}active{% endblock %}

{#主体内容#}
{% block content %}
  <div class="container">
    {#  一行 #}
    <div class="row">
      {#  第一列 博客列表#}
      <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">

        <div class="panel panel-default">
          <div class="panel-heading">{% block blog_list_title %}博客列表{% endblock %}</div>
          <div class="panel-body">
            {% for blog in blogs %}
              {#  blog 是每一篇博客 #}
              <div class="blog">
                <a href="{% url 'blog_detail' blog.pk %}">
                  <h3>{{ blog.title }}</h3>
                </a>
                <p class="blog-info">
                  <span class="glyphicon glyphicon-tag"></span>：<a
                        href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>
                  <span class="glyphicon glyphicon-time"></span>：{{ blog.created_time |date:'Y-m-d H:m:s' }}
                </p>
                {#  内容显示的时候进行过滤 忽略标签#}
                <p>{{ blog.content|striptags|truncatechars:120 }}</p>
              </div>
            {% empty %}
              <div class="blog">
                <h3>==========================暂无博客，敬请期待====================</h3>
              </div>
            {% endfor %}

          </div>
        </div>
        {#        分页#}
        <div>
          <nav aria-label="Page navigation" class="paginator">
            <ul class="pagination">
              {# 上一页#}
              <li>
                {% if page_of_blogs.has_previous %}
                  <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                {% else %}
                  <span aria-hidden="true">&laquo;</span>
                {% endif %}

              </li>
              {# 页码#}
              {% for page_num in page_range %}
                {# 判断是否是当前页 当前页就显示激活且不能进行点击#}
                {% if page_num == page_of_blogs.number %}
                  <li class="active"><span>{{ page_num }}</span></li>
                {% else %}
                  {% if page_num == "..." %}
                    <li><span>{{ page_num }}</span></li>
                  {% else %}
                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                  {% endif %}
                {% endif %}
              {% endfor %}
              {# 下一页#}
              <li>
                {% if page_of_blogs.has_next %}
                  <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                {% else %}
                  <span aria-hidden="true">&raquo;</span>
                {% endif %}

              </li>
            </ul>
            <p> 一共有篇{{ blogs.paginator.count }}篇博客,
              当前是第{{ page_of_blogs.number }}页，
              共{{ page_of_blogs.paginator.num_pages }}页
            </p>
          </nav>
        </div>
      </div>


      {#  第二列 分类#}
      <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
        {# 博客分类面板 #}
        <div class="panel panel-default">
          <div class="panel-heading">博客分类</div>
          <div class="panel-body">
            <ul>
              {% for blog_type in blog_types %}
                <li>
                  <a href="{% url 'blogs_with_type' blog_type.pk %}">
                    {{ blog_type.type_name }} ({{ blog_type.blog_count }})
                  </a>
                </li>
              {% empty %}
                <li>====暂无博客分类=====</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {# 按年分类#}
        <div class="panel panel-default">
          <div class="panel-heading">日期归档</div>
          <div class="panel-body">
            <ul>
              {% for blog_date, blog_count in blog_dates.items %}
                <li>
                  <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
                    {{ blog_date|date:"Y年m月" }} ({{ blog_count }})
                  </a>
                </li>
              {% endfor %}

            </ul>
          </div>
        </div>

      </div>

    </div>
    {# rowend #}
  </div>

{% endblock %}


