  * {
    margin: 0;
    padding: 0;
  }

  .nav {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
  }

  .nav a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
  }

  .nav .logo {
    display: inline-block;
    font-size: 120%;

  }