li {
    list-style: none;
}


.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #e0e0e0;
}

.blog h3 {
    margin-top: 0.5em;
}

.blog-info{
    margin-bottom: 0;
}
.blog-info-description {
    margin-bottom: 2em;
}
.blog-info-description li {
    display: inline-block;
    margin-right: 1em;
}
.blog-content {
    text-indent: 2em;
}
.paginator{
    text-align: center;
}
.blog-more {
    margin-top: 2em;
}
.comment-area {
    margin-top: 2em;
}
.comment-area-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
}